.calculator {
  /* Styling für den Taschenrechner */
  width: 520px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #736b6b;
  box-shadow: 0 24px 86px rgba(0, 0, 0, 0.1);
}

.Eingabe {
  /* Styling für den Eingabebereich */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Eingabe input {
  /* Styling für das Eingabefeld */
  flex: 3;
  padding: 10px;
  font-size: 24px;
  border: 3px solid #ccc;
  border-radius: 4px;
  transition: box-shadow 0.3s; /* Übergang für den 3D-Effekt */
}

.Eingabe input:focus {
  /* 3D-Effekt bei Fokus */
  box-shadow: 0 0 128px rgba(0, 0, 0, 0.3);
}

.clear-button {
  /* Styling für den Löschen-Button */
  padding: 16px;
  font-size: 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s; /* Übergang für den 3D-Effekt */
}

.clear-button:hover {
  /* Hover-Effekt des Löschen-Buttons */
  background-color: #c0392b;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* 3D-Effekt bei Hover */
}

.buttons {
  /* Styling für die Button-Gruppe */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.buttons button {
  /* Styling für die einzelnen Buttons */
  padding: 15px;
  font-size: 24px;
  background-color: #dcdcdc;
  color: #333;
  border: 9px solid #ccc;
  border-radius: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s; /* Übergang für den 3D-Effekt */
}

.buttons button:hover {
  /* Styling für den Hover-Effekt der Buttons */
  background-color: #f2f2f2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* 3D-Effekt bei Hover */
}

.result {
  /* Styling für das Ergebnis-Anzeigefeld */
  margin-top: 10px;
  padding: 10px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}